spring:
  application:
    name: UserService
  datasource:
    url: jdbc:mysql://localhost:3306/Fitness_MicroServices
    username: root
    password: Ranarajput@2003
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        # optional, but good:
        #dialect: org.hibernate.dialect.MySQLDialect
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
